aula19/CMakeLists.txt
aula19/.idea/.gitignore
aula19/.idea/aula19.iml
aula19/.idea/misc.xml
aula19/.idea/modules.xml
aula19/.idea/vcs.xml
aula19/cmake-build-debug/aula19
aula19/cmake-build-debug/aula19.cbp
aula19/cmake-build-debug/cmake_install.cmake
aula19/cmake-build-debug/CMakeCache.txt
aula19/cmake-build-debug/Makefile
aula19/cmake-build-debug/CMakeFiles/clion-environment.txt
aula19/cmake-build-debug/CMakeFiles/clion-log.txt
aula19/cmake-build-debug/CMakeFiles/cmake.check_cache
aula19/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
aula19/cmake-build-debug/CMakeFiles/CMakeOutput.log
aula19/cmake-build-debug/CMakeFiles/Makefile.cmake
aula19/cmake-build-debug/CMakeFiles/Makefile2
aula19/cmake-build-debug/CMakeFiles/progress.marks
aula19/cmake-build-debug/CMakeFiles/TargetDirectories.txt
aula19/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
aula19/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
aula19/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
aula19/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
aula19/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
aula19/cmake-build-debug/CMakeFiles/aula19.dir/build.make
aula19/cmake-build-debug/CMakeFiles/aula19.dir/C.includecache
aula19/cmake-build-debug/CMakeFiles/aula19.dir/cmake_clean.cmake
aula19/cmake-build-debug/CMakeFiles/aula19.dir/depend.internal
aula19/cmake-build-debug/CMakeFiles/aula19.dir/depend.make
aula19/cmake-build-debug/CMakeFiles/aula19.dir/DependInfo.cmake
aula19/cmake-build-debug/CMakeFiles/aula19.dir/flags.make
aula19/cmake-build-debug/CMakeFiles/aula19.dir/link.txt
aula19/cmake-build-debug/CMakeFiles/aula19.dir/main.c.o
aula19/cmake-build-debug/CMakeFiles/aula19.dir/progress.make
aula19/ex01
aula19/ex03
